@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic);

body{
	font-family: "Muli";
	background: #eee;
}

h1{
	text-align: center;
	font-style: italic;
}

blockquote{
	margin: 0 auto;
	padding: 1em;
	border-left: 5px solid #79B473;
}

blockquote:not(:first-of-type){
	/* this styling applies to all blockquotes EXCEPT the first one */
	margin-top: .5em;
}

blockquote p{
	color: #555;
	font-size: 12pt;
	line-height: 1.4;
	font-family: 'Muli';
}

blockquote footer{
	margin-top: .5em;
	padding: 0;
	color: #777;
	font-size: 12pt;
	text-align: left;
	font-style: italic;
}

blockquote footer:before{
	content: '-'; /* this adds a dash before all the footer content */
}

blockquote:nth-of-type(even){
	/* this styling will apply to all even numbered bloquotes */
	text-align: right;
	border-left: none;
	border-right: 5px solid #41658A;
}

blockquote:nth-of-type(even) footer{
	text-align: right;
}

blockquote:nth-of-type(even) footer:before{
	content: '';
}

blockquote:nth-of-type(even) footer:after{
	content: ' -';
}

@element 'blockquote' and (min-width: 300px){
	blockquote{
		padding: 1em 20% 1em 1em;
	}
	blockquote p{
		font-size: 14px;
	}
	blockquote:nth-of-type(even){
		padding: 1em 1em 1em 20%;
	}
}