body {
	background: #333;
}
/*Centering the gauge*/
#canvas {
	display: block;
	width: 300px;
	margin: 100px auto;
}
/*Custom font for numbers*/
/*@font-face {
	font-family: "bebas";
	src: url("http://thecodeplayer.com/uploads/fonts/BebasNeue.otf");
}*/