*{margin: 0; padding: 0;}
body {background: #999;}

.tabs  {margin: 100px 0; background: #000; padding: 50px 50px 29px 50px;}
.tabs li{
	float: left; position: relative;
	list-style-type: none;
}
.tabs a {
	padding: 5px 40px; display: block; 
	background: #ccc;
	text-decoration: none;
	color: #000;
	
	border-radius: 15px 15px 0 0;
}
.tabs .active {z-index: 3;}
.tabs .active a {background: #999;}

.tabs .active:before, .tabs .active:after, 
.tabs .active a:before, .tabs .active a:after, 
.tabs li:last-child:after, .tabs li:last-child a:after, 
.tabs li:first-child:before, .tabs li:first-child a:before
{
	content: "";
}
.tabs li:before, .tabs li:after, .tabs li a:before, .tabs li a:after {
	position: absolute;
	bottom: 0;
}
.tabs .active:before, .tabs .active:after {
	background: #999;
}

.tabs li:before, .tabs li:after {
	background: #ccc;
	width: 10px; height: 10px;
	z-index: 1;
}
.tabs li:before { left: -10px; }
.tabs li:after { right: -10px; }

.tabs li a:before, .tabs li a:after {
	width: 20px; height: 20px;
	background: #222;
	z-index: 2;
	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.tabs .active a:before, .tabs .active a:after {
	background: #ccc;
}

.tabs li a:before { left: -20px; }
.tabs li a:after { right: -20px; }

.tabs li:first-child.active a:before, 
.tabs li:last-child.active a:after {background: #000;}